# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/
client/build/

# Uploads & temporary output files
server/uploads/*
!server/uploads/.gitkeep
server/output/*
!server/output/.gitkeep

# Environment variables
.env.example
server/.env.example

# Logs
*.log
npm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
